/*nav {
	display:none;
}*/
.btn-full-width{
	display:none;
}
@media screen and (max-width: 800px) {
		.btn-full-width img{
			margin-left:4%;
		}
}
@media screen and (max-width: 650px) {
	.menu-block {
		display:none;
	}
	.btn-full-width{
		display:block;
		width:100%;
		background:#48BEDA;
		margin-top:5px;
		cursor:pointer;
		border-radius:100px;
	}
		.btn-full-width img{
			width:100px;
			margin-left:3%;
			margin-top:4px;
		}
	/*nav {
		display:block;
		margin-top:5px;
		list-style:none;
	}
	nav a, nav:before, nav div:before {
		width: 100%;
		display: block;
		padding: 20px 0;
		color: #fff;
		text-align: center;
		cursor: pointer;
		background: #48BEDA;
		list-style:none;
	}
	nav a {
		width: 100%;
		background: #1E90FF;
		text-decoration: none;
		border-bottom:1px solid rgba(250,250,250,0.1);
		list-style:none;
	}
	nav a:hover {
		background: rgb(96,145,172);
	}
	nav:before {
		background-image:url('../img/nav-icon1.png');
		background-size: 70px 19px;
		background-repeat:no-repeat;
		background-position:95% center;
		border-radius:100px;
		content:"";
	}
	nav:focus:before {
		content: none;
	}
	nav:focus div:before {
		background-image:url('../img/nav-icon2.png');
		background-size: 70px 19px;
		background-repeat:no-repeat;
		background-position:95% center;
		border-top-right-radius:20px;
		border-top-left-radius:20px;
		content:"";
	}
	nav:not(:focus) div:not(:active) {
		display: none;
	}
	*/
}
/**/
.menu-block{
	width:100%;
	height:75px;
	margin:0 auto;
	/*margin-top:5px;*/
	border-radius:50px;
	background:#fff;
    -webkit-box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
       -moz-box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
            box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
    -webkit-box-shadow: 0 15px 10px -10px rgba(0, 0, 0, 0.5), 0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
       -moz-box-shadow: 0 15px 10px -10px rgba(0, 0, 0, 0.5), 0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
            box-shadow: 0 15px 10px -10px rgba(0, 0, 0, 0.5), 0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
}
	#menu{
		width:98.5%;
		height:59px;
		margin:0 auto;
		margin-top:8px;
		border-radius:50px;
		background:#48BEDA;
	}
		#menu li{
			display:inline-block;
			text-decoration:none;
			width:13.5%;
			padding:15px 5.5% 15px 5.5%;
			text-align:center;
			margin:0 auto;
			white-space: nowrap;
			font-size:18pt;
			color:#fff;
			font-weight:400;
		}
		#menu li:hover{
			background:#1E90FF;
			width:13.5%;
			padding:15px 5.5% 15px 5.5%;
		}
		#menu .first{
			
		}
		#menu .first:hover{
			background:#1E90FF;
			width:13.5%;
			padding:15px 5.5% 15px 5.5%;
			border-top-left-radius:50px;
			border-bottom-left-radius:50px;
		}
		#menu .last{
			border-left:1px solid rgba(255,255,255,0.2);
		}
		#menu .last:hover{
			background:#1E90FF;
			width:13.5%;
			padding:15px 6.1% 15px 5.5%;
			border-top-right-radius:50px;
			border-bottom-right-radius:50px;
		}
		#menu .middle{
			border-left:1px solid rgba(255,255,255,0.2);
			border-right:1px solid rgba(255,255,255,0.2);
		}
			#menu li a{
				text-decoration:none;
			}
			#menu li:hover{
				text-decoration:none;
			}
			
@media screen and (max-width: 60em) {
	
	#menu li{
		width:14%;
		padding:15px 5% 15px 4.5%;
	}
	#menu li:hover{
		width:14%;
		padding:15px 5% 15px 4.5%;
	}
	#menu .first:hover{
		width:14%;
		padding:15px 5% 15px 4.5%;
	}
	#menu .last{
		width:15%;
		padding:15px 6.7% 15px 5.5%;
	}
	#menu .last:hover{
		width:15%;
		padding:15px 6.7% 15px 5.5%;
	}
	
	#menu .middle1{
		width:17%;
		padding:15px 5% 15px 2%;
	}
	#menu .middle1:hover{
		width:17%;
		padding:15px 5% 15px 2%;
	}
}

@media screen and (max-width: 70em) {
	
	#menu li{
		width:10%;
		padding:15px 5% 15px 4.5%;
	}
	#menu li:hover{
		width:10%;
		padding:15px 5% 15px 4.5%;
	}
	#menu .first{
		width:14%;
		padding:15px 5% 15px 4.5%;
	}
	#menu .first:hover{
		width:14%;
		padding:15px 5% 15px 4.5%;
	}
	#menu .middle{
		width:13%;
		padding:15px 5% 15px 1%;
	}
	#menu .middle:hover{
		width:13%;
		padding:15px 5% 15px 1%;
	}
	#menu .middle1{
		width:22%;
		padding:15px 5% 15px 1%;
	}
	#menu .middle1:hover{
		width:22%;
		padding:15px 5% 15px 1%;
	}
	#menu .last{
		width:14%;
		padding:15px 7.4% 15px 5.5%;
	}
	#menu .last:hover{
		width:14%;
		padding:15px 7.4% 15px 5.5%;
	}
}

@media screen and (min-width:1800px) and (max-width: 2300px){
	.menu-block{
		height:98px;
		border-radius:100px;
	}
	#menu{
		height:76px;
		margin-top:12px;
	}
		#menu li{
			padding:13px 5.5% 13px 5.5%;
			font-size:30pt;
			font-weight:400;
		}
		#menu li:hover{
			padding:13px 5.5% 13px 5.5%;
		}
		#menu .first{
			
		}
		#menu .first:hover{
			padding:13px 5.5% 13px 5.5%;
		}
		#menu .last{
			
		}
		#menu .last:hover{
			padding:13px 7.4% 13px 5.5%;
		}
		#menu .middle{
			
		}
			#menu li a{
				
			}
			#menu li:hover{
				
			}
		#menu .middle1{
			padding:13px 6.5% 13px 3.5%;
		}
		#menu .middle1:hover{
			padding:13px 6.5% 13px 3.5%;
		}
}

@media screen and (min-width:2301px) and (max-width: 4000px){
	.menu-block{
		height:142px;
		border-radius:100px;
	}
	#menu{
		height:99px;
		margin-top:20px;
	}
		#menu li{
			padding:13px 5.5% 13px 5.5%;
			font-size:44pt;
			font-weight:400;
		}
		#menu li:hover{
			padding:13px 5.5% 13px 5.5%;
		}
		#menu .first{
			
		}
		#menu .first:hover{
			padding:13px 5.5% 13px 5.5%;
		}
		#menu .last{
			
		}
		#menu .last:hover{
			padding:13px 7.8% 13px 5.5%;
		}
		#menu .middle{
			
		}
			#menu li a{
				
			}
			#menu li:hover{
				
			}
		#menu .middle1{
			padding:13px 6.5% 13px 3.5%;
		}
		#menu .middle1:hover{
			padding:13px 6.5% 13px 3.5%;
		}
}

@media screen and (min-width:4001px) and (max-width: 10000px){
	.menu-block{
		height:192px;
		border-radius:100px;
	}
	#menu{
		height:149px;
		margin-top:20px;
		border-radius:100px;
	}
		#menu li{
			padding:39px 5.5% 39px 5.5%;
			font-size:44pt;
			font-weight:400;
		}
		#menu li:hover{
			padding:39px 5.5% 39px 5.5%;
		}
		#menu .first{
			
		}
		#menu .first:hover{
			padding:39px 5.5% 39px 5.5%;
			border-top-left-radius:100px;
			border-bottom-left-radius:100px;
		}
		#menu .last{
			
		}
		#menu .last:hover{
			padding:39px 6.8% 39px 5.5%;
			border-top-right-radius:100px;
			border-bottom-right-radius:100px;
		}
		#menu .middle{
			
		}
			#menu li a{
				
			}
			#menu li:hover{
				
			}
}


